<div class="body-planos container">
  <h1>Conheça nossos planos</h1>
  <div class="card-planos">
    <h2>Um dia na semana</h2>
    <div class="opcoes-planos">
      <div class="card-valor">
        <h3>Mensal</h3>
        <h4>R$ 140</h4>
        <p>Aulas Personalizadas</p>
        <p>Uma vez por semana</p>
        <p>Horários Flexíveis</p>
        <a class="botao" routerLink="/fale-conosco">Tenho Interesse</a>
      </div>
      <div class="card-valor">
        <h3>Trimestral</h3>
        <div class="parcelas">
          <p>3x</p>
          <h4>R$ 120</h4>
        </div>
        <p>Aulas Personalizadas</p>
        <p>Uma vez por semana</p>
        <p>Horários Flexíveis</p>
        <a class="botao" routerLink="/fale-conosco">Tenho Interesse</a>
      </div>
      <div class="card-valor">
        <h3>Semestral</h3>
        <div class="parcelas">
          <p>6x</p>
          <h4>R$ 100</h4>
        </div>
        <p>Aulas Personalizadas</p>
        <p>Uma vez por semana</p>
        <p>Horários Flexíveis</p>
        <a class="botao" routerLink="/fale-conosco">Tenho Interesse</a>
      </div>

    </div>
  </div>
  <div class="card-planos">
    <h2>Dois dias na semana</h2>
    <div class="opcoes-planos">
      <div class="card-valor">
        <h3>Mensal</h3>
        <h4>R$ 160</h4>
        <p>Aulas Personalizadas</p>
        <p>Duas vezes por semana</p>
        <p>Horários Flexíveis</p>
        <a class="botao" routerLink="/fale-conosco">Tenho Interesse</a>
      </div>
      <div class="card-valor">
        <h3>Trimestral</h3>
        <div class="parcelas">
          <p>3x</p>
          <h4>R$ 140</h4>
        </div>
        <p>Aulas Personalizadas</p>
        <p>Duas vezes por semana</p>
        <p>Horários Flexíveis</p>
        <a class="botao" routerLink="/fale-conosco">Tenho Interesse</a>
      </div>
      <div class="card-valor">
        <h3>Semestral</h3>
        <div class="parcelas">
          <p>6x</p>
          <h4>R$ 120</h4>
        </div>
        <p>Aulas Personalizadas</p>
        <p>Duas vezes por semana</p>
        <p>Horários Flexíveis</p>
        <a class="botao" routerLink="/fale-conosco">Tenho Interesse</a>
      </div>

    </div>
  </div>
  <div class="card-planos">
    <h2>Um dia na semana</h2>
    <div class="opcoes-planos">
      <div class="card-valor">
        <h3>Mensal</h3>
        <h4>R$ 180</h4>
        <p>Aulas Personalizadas</p>
        <p>Três vezes por semana</p>
        <p>Horários Flexíveis</p>
        <a class="botao" routerLink="/fale-conosco">Tenho Interesse</a>
      </div>
      <div class="card-valor">
        <h3>Trimestral</h3>
        <div class="parcelas">
          <p>3x</p>
          <h4>R$ 160</h4>
        </div>
        <p>Aulas Personalizadas</p>
        <p>Três vezes por semana</p>
        <p>Horários Flexíveis</p>
        <a class="botao" routerLink="/fale-conosco">Tenho Interesse</a>
      </div>
      <div class="card-valor">
        <h3>Semestral</h3>
        <div class="parcelas">
          <p>6x</p>
          <h4>R$ 140</h4>
        </div>
        <p>Aulas Personalizadas</p>
        <p>Três vezes por semana</p>
        <p>Horários Flexíveis</p>
        <a class="botao" routerLink="/fale-conosco">Tenho Interesse</a>
      </div>

    </div>
  </div>
</div>
