<div class="container">
  <div class="container-quem-somos">
    <div class="quem-somos-text">
      <h1>Quem Somos</h1>
      <p>O Pilates Espaço Luz está em atividade desde 2020 e foi totalmente planejado para oferecer um atendimento diferenciado. Com ambientes climatizados e amplamente aparelhados, o local conta com profissionais capacitados e um atendimento personalizado e individualizado.</p>
    </div>
    <div>
      <img src="../../../assets/woman-practising-pilates-in-a-pilates-reformer.jpg" alt="">
    </div>
  </div>
  <div class="container-quem-somos-dois">
    <div>
      <img src="../../../assets/pregnant-woman-exercising-with-the-help-of-reformer-on-pilates-class.jpg" alt="">
    </div>
    <div class="quem-somos-text">
      <h1>Qualidade e eficiência
      </h1>
      <p>Nossos atendimentos contam com uma equipe de enfermeiros e educadores físicos qualificados e comprometidos com objetivo de oferecer um serviço de excelência.
      </p>
    </div>
  </div>
</div>
<div class="faixa">
  <div class="faixa-quem-somos container">

    <div class="alinhar-componente">
      <img src="../../../assets/yoga.svg" alt="">
      <h2>COMBATE O ESTRESSE</h2>
      <p>Exercite o auto controle e lide melhor com situações de estresse, ansiedade e nervosismo.</p>
    </div>
    <div class="alinhar-componente">
      <img src="../../../assets/tonifica.svg" alt="">
      <h2>TONIFICA MUSCULATURA</h2>
      <p>Trabalhe a musculatura do corpo todo, inclusive os músculos mais profundos.</p>
    </div>
    <div class="alinhar-componente">
      <img src="../../../assets/dores.svg" alt="">
      <h2>AMENIZA DORES</h2>
      <p>Recomendado por profissionais para tratamento de dores, principalmente nas costas e articulações.
      </p>
    </div>
  </div>
</div>
<div class="container quem-somos-porque">
  <div>
    <h1>Diferencial Espaço luz</h1>
    <p>No Estúdio Pilates Espaçi Luz fazemos uma criteriosa avaliação, onde o aluno fica sabendo quais são suas necessidades juntamente com seus objetivos que podem ser: Reabilitacional ou Fitness. A avaliação permite o profissional desenvolver uma aula com prioridades, visando progressão, qualidade e resultado nos exercícios.
      <br><br>
      Havendo na avaliação necessidade do aluno ter uma intervenção de reabilitação, o estúdio oferece opções para tratamento através das terapias: fisioterapia convencional (ultra-som, TNS, FES), terapias manuais, entre outras técnicas fisioterápicas. Dessa forma, após a reabilitação necessária, o aluno/paciente faz a transição para as aulas de Pilates Reabilitacional (com fisioterapeuta) e na sequencia para o Pilates Fitness (com educador físico).
    </p>
  </div>
  <div class="backgroud-img-joseph">
    <img src="../../../assets/estudio-pilates-thorlay-espelho-madeira-clara-concreto-aparente-movel-vazado.jpg" alt="">
  </div>
</div>
