<div class="container">
  <div class="sub-header-pilates">
    <img src="../../../assets/woman-practising-pilates-in-a-pilates-reformer.jpg" alt="">
  </div>
  <div class="container-pilates">
    <div>
      <h1>Origem do Pilates</h1>
      <p>Joseph Pilates nasceu em 1880 perto de Düsseldorf, Alemanha. Ele foi uma criança frágil, asmática, raquítica e com febre reumática, porém tornou-se tão determinado a melhorar a sua condição física que devotou-se ao estudo e a prática da construção de um corpo forte e sadio. Ele tornou-se perito numa variedade de esportes como ginasta, esquiador, mergulhador, boxeador e até mesmo artista de circo. Durante este período de transformação física, Pilates começou a formar sua filosofia sobre exercício e saúde, estudando yoga, acrobacia e movimento e condicionamento físico, combinando filosofias de saúde e exercícios do Oriente e Ocidente. Joseph procurava o perfeito equilíbrio do corpo e mente.</p>
    </div>
    <div class="imagem-texto"> <img src="../../../assets/pregnant-woman-exercising-with-the-help-of-reformer-on-pilates-class.jpg" alt=""></div>
  </div>
  <div class="container-pilates-dois">
    <h1>Origem do Pilates</h1>
    <p>Em 1912 ele vai para a Inglaterra onde se torna boxeador profissional e ensina auto-defesa a detetives da Scotland Yard. Quando eclodiu a Primeira Guerra Mundial, as autoridades britânicas o confinaram em razão de sua nacionalidade alemã e ele decidiu usar o lazer forçado para desenvolver suas idéias sobre saúde e aptidão física. Ele ensinou a seus colegas de confinamento as técnicas que estava desenvolvendo e afirmava que, por isso, nenhum deles morreu de influenza na epidemia de 1918. Joseph foi transferido para outro campo de concentração, onde se tornou enfermeiro e vigia. Neste campo, em Lancaster, ele pegou as molas das camas e desenvolveu equipamentos para reabilitar seus pacientes, utilizando a resistência das mesmas, de modo que os pacientes começassem a tonificar seus músculos antes mesmo de poderem levantar.<br><br>

      Joseph PilatesApós a guerra, voltou à Alemanha e interagiu com pioneiros das técnicas de movimentos como Rudolf von Laban e Hanya Holm. Ao mesmo tempo, Joseph Pilates trabalhava como treinador para a força policial de Hamburgo. Em 1923 partiu para Nova York para montar seu primeiro estúdio junto com sua esposa, Clara.<br><br>

      Clara era enfermeira e incorporou os conceitos e exercícios de Joseph de modo que beneficiasse mais seriamente clientes doentes.<br><br>

      O método Pilates foi um sucesso imediatamente nos EUA, particularmente entre os bailarinos – Martha Graham e George Balanchine foram os primeiros a serem conquistados. Os bailarinos, que em geral se machucavam muito, logo descobriram que os exercícios de Pilates levavam à uma recuperação mais rápida – e isso numa época em que os efeitos terapêuticos da reabilitação imediata ainda não eram reconhecidos. Nos anos 60 George Balanchine convidou Pilates para instruir suas jovens “ballerinas” do NEW YORK CITY BALLET.</p>
  </div>
</div>
