<div id="footer-superior">
  <div class="container">
    <div id="footer-superior-divicao">
      <div id="footer-superior-divicao-primeiro">
        <img src="../../../assets/EspacoLuzFooter.svg" alt="">
      </div>
      <div id="footer-superior-divicao-segundo">
        <h3>CONTATO</h3>
        <br>
        <p>espacoluz@gmail.com</p>
        <p>(49) 99999-9999</p>
        <p>Rua ali perto, 190 Centro</p>
        <p>Lages - SC</p>
      </div>
      <div id="footer-superior-divicao-terceiro">
        <h3>INFORMAÇÕES</h3>
        <br>
        <ul>
          <li>
            <a href="/pilates">PILATES</a>
          </li>
          <li>
            <a href="/planos">PLANOS</a>
          </li>
          <li>
            <a href="/quem-somos">QUEM SOMOS</a>
          </li>
          <li>
            <a href="/fale-conosco">FALE CONOSCO</a>
          </li>
        </ul>

      </div>
    </div>
  </div>

</div>
<div id="footer-inferior">
  <p>Copyright © 2018 Espaço Luz. Todos os direitos reservados.</p>
</div>
