<div class="container">
  <div id="superior">
    <div class="imagem-logo">
      <a routerLink="/home"> <img class="" src="../../../assets/logoPrincipal222.png" alt="Logo"></a>

    </div>
    <div>
      <nav>
        <ul class="nav-list">
          <li>
            <a routerLink="/pilates">PILATES</a>
          </li>
          <li>
            <a routerLink="/planos">PLANOS</a>
          </li>
          <li>
            <a routerLink="/quem-somos">QUEM SOMOS</a>
          </li>
          <li>
            <a routerLink="/fale-conosco">FALE CONOSCO</a>
          </li>
          <li>
            <a routerLink="/painel">PAINEL</a>
          </li>
          <li>
            <a routerLink="/login">LOGIN</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<div id="inferior">
  <img src="../../../assets/EspacoLuz.svg" alt="">
</div>
