<div id="home-header">
  <img src="../../../assets/pilates.jpg" alt="">
  <div class="container" id="home-header-titulo">
    <p>PILATES,<br>QUALIDADE DE VIDA</p>
    <a routerLink="/planos">CONHEÇA NOSSOS PLANOS</a>
  </div>
</div>
<div class=" container card-enfermeira-home">
  <div class="card-enfermeira">
    <img src="../../../assets/11062b_234d485305bc4ef4a3011c9800ba17a5_mv2.jpg" alt="">
  </div>
  <div class="card-enfermeira-info">
    <h1>Enf. Giovanna Luz</h1>
    <span>Enfermeira, pós graduada em Estétca </span>
    <p>Formada em enfermagem, fiz pós-graduação na área da estética e dou aula na Universidade do Planalto Catarinense (UNIPLAC), com o passar dos anos fui me apaixonando pela atividade física onde conheci o Pilates e seus benefícios, aliando todo meu conhecimento e experiencia adquirida venho trabalhando com Pilates de maneira a promover saúde.</p>
    <a class="botao" routerLink="/quem-somos">QUEM SOMOS</a>
  </div>
</div>
<div id="faixa-home">
  <h1>Venha fazer uma experimental</h1>
  <img src="../../../assets/homeExperimental.svg" alt="">
</div>
<div id="pilates-home-info">
  <div class="dados-joseph">
    <h1>Por que fazer pilates?</h1>
    <p>O objetivo principal do método Pilates consiste em devolver para o praticante um diálogo entre o seu corpo e a sua mente e proporcionar o seu bem-estar. Esse método trabalha o corpo de forma global sendo indicado para condicionamento físico geral ou para reabilitação em casos de problemas específicos de saúde.
      O Pilates aumenta a flexibilidade e a resistência física, tonifica a musculatura, corrige problemas de postura e melhora a coordenação motora, restaurando a saúde dos indivíduos em condições patológicas, assim como ajudando às pessoas que estão buscam a qualidade de vida através da consciência corporal.</p>
    <a class="botao" routerLink="/pilates">SAIBA MAIS</a>
  </div>
  <div class="backgroud-img-joseph">
    <img src="../../../assets/aula-e-joseph-pilates-no-estudio.jpg" alt="">
  </div>
</div>
